{% extends 'admin/headerfooter.html' %}
{% block content %}
<div id="page-wrapper">
    <div class="graphs">
	    <div class="xs">
	     	<form action="/myadmin/forms/" method="post" enctype="multipart/form-data">
	     	{% csrf_token %}
  	        <h3>Forms</h3>
  	        <h4 style="color: red;text-align: center;">{{error}}</h4>

  	            <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							
  				<div class="panel-body">
  				<!-- <form> -->
					<!-- <form role="form" class="form-horizontal"> -->
						<div class="form-group">	
							<div class="col-md-8">
								<div class="input-group">							
									<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
									<input type="text" class="form-control1" name="Name" placeholder="Product Name">
								</div>
							</div>
						</div>


						<div class="form-group">	
							<div class="col-md-8">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-inr" style="width: 14px; height: 14px;"></i>
									</span>
									<input type="text" class="form-control1" id="Price" name="Price"  placeholder="Price">
								</div>
							</div>
						</div>




 
						<div class="form-group">	
							<div class="col-md-8">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-inr" style="width: 14px; height: 14px;"></i>
									</span>
									<input type="text" class="form-control1" id="OffPrice" name="Offprice"  placeholder="Offprice">
								</div>
							</div>
						</div> 






						<div class="form-group">	
							<div class="col-md-8">
								<div class="input-group input-icon right">
									<span class="input-group-addon">
										<i class="fa fa-envelope-o" style="width: 14px; height: 14px;"></i>
									</span>
									<input id="email" class="form-control1" type="text" name="Details" placeholder="Details">
								</div>
							</div>	
						</div>


						<div class="form-group">
							<div class="col-md-8">
								<div class="input-group input-icon right">
									<span class="input-group-addon">
										<i class="fa fa-bars" style="width: 14px; height: 14px;"></i>
									</span>
									<!-- <input type="password" class="form-control1" name="Category" placeholder="Category"> -->
									<select id="CATEGORY" class="form-control" name="Catagory">
  										<option  selected>CATEGORY</option>

  										<!-- <option value="Groceries">Groceries</option> -->
  										<option value="Household">Household</option>
  										<option value="Personal Care">Personal Care</option>
  										<option value="Packaged Food">Packaged Food</option>
  										<option value="Beverages">Beverages</option>
  										<option value="Groceries">Groceries</option>
  										

									</select>
								</div>
							</div>	
						</div>



						<div class="form-group">
							<div class="col-md-8">
								<div class="input-group input-icon right">
									<span class="input-group-addon">
										<i class="fa fa-bars" style="width: 14px; height: 14px;"></i>
									</span>
                                    <label for="FILE">Product Image</label>
                                    <input type="file" class="form-control" id="FILE" name="Proimage" placeholder="Proimage">
                                 </div>
                             </div>
                         </div>


                         
						<div class="form-group has-error">
							<div class="col-md-8">
							<button value="login">Login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>


						
        </div>
    </div>
</div>

  {% endblock %}
